body {
    background-color: dimgray;
}

.container {


    background-color: darkgrey;
    height: 60px;
    width: 60%;
    margin: auto
}

.main {
    display: flex;
    height: 100%;
    width: 100%;
}
.main2 {
    display: flex;
    height: 100%;
    width: 100%;
}

.text {
    color: white;
    font-weight: bold;
    font-size: x-large;

}

.navimages {
    text-align: justify;
    margin-top: -30px;
}

.block {
    background-color: rgba(198, 49, 49, 0.989);
    height: 220px;
    width: 220px;
    margin-top: 70px;
    margin-left: 160px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    position: relative;


}

.block1 {
    background-color: skyblue;
    height: 220px;
    width: 220px;
    margin-top: 70px;
    margin-left: 40px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    position: relative;


}

.block2 {
    background-color: cornflowerblue;
    height: 220px;
    width: 220px;
    margin-top: 70px;
    margin-left: 40px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    position: relative;


}
.block3 {
    background-color: rgba(198, 49, 49, 0.989);
    height: 220px;
    width: 220px;
    margin-top: 70px;
    margin-left: 40px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    position: relative;


}



.block4 {
    background-color: cornflowerblue;
    height: 220px;
    width: 220px;
    margin-top: 40px;
    margin-left: 160px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    position: relative;


}

.block5 {
    background-color: peru;
    height: 220px;
    width: 220px;
    margin-top: 40px;
    margin-left: 40px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    position: relative;

}

.block6 {
    background-color: peru;
    height: 220px;
    width: 220px;
    margin-top: 40px;
    margin-left: 40px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    position: relative;

}

.block7 {
    background-color: pink;
    height: 220px;
    width: 220px;
    margin-top: 40px;
    margin-left: 40px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    position: relative;

}
.stickyimg
{
    height: 20px;
    width: 20px;
    margin-left: 0%;
    margin-top: -10px;
    margin-right: -10px;
    border-radius: 10px;
    position: relative;
    
}
.textarea{
    height: 155px;
    width: 210px;
    margin-top: 10px;
}